.dropdown{
    position:relative;
    display:inline-block;
}
.drop{
    background-color:#4caf50;
    color:white;
    padding:16px;
    cursor: pointer;
    border:none;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{background-color: #f1f1f1;}
.dropdown:hover .dropdown-content{
    display:block; 
}
.dropdown:hover .drop{
    background-color:#2e8e41;
}