*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:'Courier New', Courier, monospace;
    font-size :1rempx;
    min-height:200vh;
}
.outer-container{
    border:2px dashed black;
    width:700vw;
    height:90vw;
    margin:50px auto;
    
}
.inner-container{
    border:2px solid grey;
    width:23vw;
    height:50vw;
    margin:65px auto;
   
}
.box{
    width:120px;
    height:120px;
    color:#fff;
    padding:1rem;
}
.absolute{
    background-color:blue;
    position: absolute;
    top:0;
    left:0;
    
}
.relative{
    background-color: yellowgreen;
    position: relative;
    left:100px;
    top:20px;
}
.fixed{
    background-color: red;
    position:fixed;
    top:200px;
    left:50px;
}
.sticky{
    background-color: aqua;
    position:sticky;
    top:20px;
    left:200px;
}